 1. What are data structures, and why are they important?

Answer 1. Data Structures are ways to organize and store data efficiently for easy access and modification.
 Importance:- Improve performance of programs.- Help in organizing and managing data.- Used in algorithms and real-world applications like databases, networking, etc.


 2. Explain the difference between mutable and immutable data types with examples.

Answer 2. Mutable: Can be changed after creation.
  Example: list, dict, set
  my_list = [1, 2]
  my_list.append(3)
 Immutable: Cannot be changed after creation.
  Example: int, str, tuple
  my_str = 'hello' (Cannot modify individual characters)


 3. What are the main differences between lists and tuples in Python?

  Answer 3. List: Mutable, slower, written as [1,2,3].
 Tuple: Immutable, faster, written as (1,2,3).


 4. Describe how dictionaries store data.

 Answer 4. Dictionaries store data in key-value pairs using a hash table.
 Example: {'name': 'John', 'age': 20}


 5. Why might you use a set instead of a list in Python?

Answer 5. Sets remove duplicates automatically and have faster lookup than lists.


 6. What is a string in Python, and how is it different from a list?

 Answer 6 .String: sequence of characters, immutable.
Data Types and Structures - Theory Questions (Python)
 List: sequence of any data types, mutable.


 7. How do tuples ensure data integrity in Python?

 Answer 7. Tuples are immutable, which prevents accidental changes.


 8. What is a hash table, and how does it relate to dictionaries in Python?

 Answer 8 .  A hash table stores key-value pairs. Python dictionaries use hash tables internally.


 9. Can lists contain different data types in Python?

Answer 9. Yes, a list can hold mixed data types, e.g., [1, 'a', True].


 10. Explain why strings are immutable in Python.

Answer 10.  To improve performance, memory usage, and safety in multi-threaded applications.


 11. What advantages do dictionaries offer over lists for certain tasks?

 Answer 11 . Dictionaries allow faster access with keys, more readable, and support structured data.


 12. Describe a scenario where using a tuple would be preferable over a list.?

 Answer 12 . When data must not change, like storing coordinates (x, y).


 13. How do sets handle duplicate values in Python?

Answer 13 . Sets automatically remove duplicate values.


 14. How does the in keyword work differently for lists and dictionaries?
 Answer 14 . Lists: checks values. Dicts: checks keys.


 15. Can you modify the elements of a tuple? Explain why or why not.?

  Answer 15 .  No, because tuples are immutable.
Data Types and Structures - Theory Questions (Python)


 16. What is a nested dictionary, and give an example of its use case.?

 Answer 16 .A dictionary inside another dictionary.
 Example: {'student': {'name': 'John', 'marks': 90}}


 17. Describe the time complexity of accessing elements in a dictionary.?

Answer 17 . Average: O(1), Worst-case: O(n) (in case of hash collisions).


 18. In what situations are lists preferred over dictionaries?

 Answer 18 . When only ordered data is needed and no key-value mapping is required.


 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer 19 . Before Python 3.7, dicts were unordered. From 3.7+, insertion order is preserved but you still access by key.


 20. Explain the difference between a list and a dictionary in terms of data retrieval.?

 Answer 20 .List: accessed by index (e.g., list[0]).
 Dictionary: accessed by key (e.g., dict['name']).

In [12]:
 #1. Write a code to create a string with your name and print it?
 name = 'Zakariya'
 print(name)

Zakariya

In [4]:
# 2. Write a code to find the length of the string 'Hello World'
s = "Hello World"
print(len(s))

11

In [11]:
#3. Write a code to slice the first 3 characters from the string 'Python Programming'
s = "Python Program"
print(s[:3])

Pyt

In [13]:
 #4. Write a code to convert the string 'hello' to uppercase
s = 'hello'
print(s.upper())

HELLO

In [16]:
#5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

In [17]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [18]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [19]:
 #8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [20]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [21]:
 #10. Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [22]:
 #11. Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [26]:
 #12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue','yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [27]:
 #13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [28]:
 #14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [29]:
 #15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [31]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [32]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [33]:
 #18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [34]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [40]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [42]:
#21. Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it
person = {'name': 'John', 'age': 25, 'city': 'Delhi'}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

In [45]:
#22. Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
# 23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [48]:
#24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [49]:
#25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [50]:
 #26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [52]:
 #27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[31, 37, 48, 57, 75]

In [53]:
 #28. Write a code to create a list with strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

In [54]:
#29. Write a code to combine two dictionaries into one and print the result
a = {'x': 1, 'y': 2}
b = {'z': 3}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3}

In [55]:
 #30. Write a code to convert a list of strings into a set
words = ['apple', 'banana', 'apple']
unique_words = set(words)
print(unique_words)

{'banana', 'apple'}